TYPO3:

  Flow:
    security:
      authentication:
        providers:
          #'Typo3BackendProvider':
          #requestPatterns:
          #'Bitmotion\Neos\FrontendLogin\Security\NeosRequestPattern': 'backend'
          'Bitmotion.Neos.FrontendLogin:Frontend':
            provider: 'PersistedUsernamePasswordProvider'
            requestPatterns:
              'Bitmotion\Neos\FrontendLogin\Security\NeosRequestPattern': 'frontend'

    aop:
      globalObjects:
        'frontendUserService': 'Bitmotion\Neos\FrontendLogin\Domain\Service\FrontendUserService'

  Neos:
    typoScript:
      autoInclude:
        'Bitmotion.Neos.FrontendLogin': TRUE
